header{
   background: url(../../assets/Header__bg.png);

   background-position: center;
   width: 100%;
   height: 100vh;

}
.header__top{
   display: flex;
   justify-content: space-between;
}
.header__logo{
   width: 144px;
   height: 137px;
}
.header__nav{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.header__contact{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   z-index: 5;
}
.header__phone{
   border: 1px solid #DBA069;
   border-radius: 3px;
   padding: 10px 20px;
}
.icon__whatsapp{
   color: #fff;
   width: 26px;
   height: 26px;
   margin-right: 35px;
}
.icon-phone, .header__phone span{
   color: #fff;
   font-weight: 400;
   font-size: 1.1rem;
   line-height: 1.2rem;
   letter-spacing: 0.04em;
}
.header__phone span{
   padding-left: 10px;
}

.header__menu-list li a {
   color: #fff;
   font-weight: 400;
   font-size: 1,125rem;
   line-height: 1,052rem;
   padding-bottom: 3px;
}
.header__menu-list li a:hover{
   border-bottom: 4px solid #DBA069;
}
.header__main{
   display: grid;
   grid-template-columns: 75% 25%;
   color: #fff;
   margin-top: 115px;
   padding: 0 10px;
}
.header__content h1{
   color: #fff;
   font-weight: 700;
   font-size: 2.1rem;
   line-height: 140%;
   margin-bottom: 20px;
}
.header__content button{
   background: #DBA069;
   padding: 20px 30px;
   color: #333333;
   font-weight: 700;
   font-size: 1rem;
   line-height: 140%;
   margin-bottom: 40px;
}
.header__content button:hover{
   box-shadow: 0px 5px 10px 0px rgba(216, 206, 206, 0.5); 
   background: #bb6f27;
}
.header__content h2{
   font-weight: 700;
   font-size: 1.7rem;
   line-height: 1.9rem;
   margin-bottom: 20px;
}
.header__count-cottage{
   display: flex;
   gap: 26px;
}
.header__count-cottage article{
   display: flex;
   gap: 20px;
}
.header__count-cottage article span{
   font-weight: 400;
   font-size: 7.1rem;
   line-height: 83.7%;
}
.header__count-cottage article p{
   font-weight: 400;
   font-size: 1.1rem;
   line-height: 140%;
}
.header__terms{
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-weight: 400;
   font-size: 1.1rem;
   line-height: 1.3rem;
}
.header__terms p span{
   font-weight: 700;
}
.burger__btn{
   display: none;
}


@media screen and (min-width: 900px) {
   .header__menu-list{
      display: flex;
      gap: 50px;
   }
  }

  @media screen and (max-width: 1000px) {
   .header__menu-list{
     
      gap: 30px;
   }
  }
 
  @media screen and (max-width: 900px) {
   .burger__btn{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .burger__btn::before{
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 2px;
      background: #bb6f27;
   }
   .burger__btn::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #bb6f27;
   }
   .burger__btn span{
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      height: 2px;
      background: #bb6f27;
   }
   .menu__body{
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      background: rgb(59, 56, 56);
      transition: right 0.3s ease 0s;
      padding: 100px 30px 30px 50px;
      overflow: auto;
   }
   .menu__body.active{
      right: 0;
   }
   .header__menu-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   .header__menu-list li a {
      font-size: 1.3rem;
   }
   .header__logo{
      width: 72px;
      height: 68px;
   }
   .icon__whatsapp{
      display: none;
   }
   .header__top{
      padding: 10px; 
      height: 100px;
   }
   .header__nav{
      flex-direction: row;
      align-items: center;
      gap: 40px;
   }
   .header__main{
      display: flex;
      flex-direction: column;
      margin-top: 0;
   }
   .header__content button{
      margin-bottom: 15px;
   }
   .header__terms{
      gap: 10px;
   }

   .header__count-cottage{
      margin-bottom: 10px;
   }
  }
